<form-view ng-init="init()" close-without-confirm>
    <form-header>
        Dodawanie zadania
    </form-header>
    <form-body>
        <div class="row">
            <div class="col-sm-12">
                <input type="text" ng-model="task.content">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <select ng-model="task.importance">
                    <option value = 1>1</option>
                    <option value = 2>2</option>
                    <option value = 3>3</option>
                    <option value = 4>4</option>
                    <option value = 5>5</option>
                    <option value = 6>6</option>
                    <option value = 7>7</option>
                    <option value = 8>8</option>

                </select>
            </div>
            <div class="col-sm-6">
                <select ng-model="task.urgency">
                    <option value = 1>1</option>
                    <option value = 2>2</option>
                    <option value = 3>3</option>
                    <option value = 4>4</option>
                    <option value = 5>5</option>
                    <option value = 6>6</option>
                    <option value = 7>7</option>
                    <option value = 8>8</option>
                </select>            </div>
        </div>

    </form-body>
    <form-footer save-label="Dodaj"><med-button  class="pull-right" mb-type="own" mb-color="primary" mb-size="small" mb-no-outline="true" ng-click="addTask()"
                                                 mb-label="Dodaj"></med-button></form-footer>
</form-view>