/*
 *
 *   EOPIEKA 2.0
 *   style własne
 *
*/

body {
    word-wrap: break-word;
}

/*:focus {
    outline: none!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(210,55,71, 0.6)!important;
    border-radius: 10px;
}*/

form-item input:focus {
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 140, 206, 0.6) !important;
    border-radius: 10px;
}

.slick-slide:focus,
med-button:focus,
uib-accordion a:focus {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

input,
textarea {
    border-radius: 8px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

input.ng-invalid.ng-touched,
form-item.ng-invalid input.ng-touched {
    background-color: #dd7b7b !important;
}

input.ng-invalid.ng-touched,
form-item.ng-invalid input.ng-touched::-webkit-input-placeholder {
    color: white !important;
}

input.ng-invalid.ng-touched,
form-item.ng-invalid input.ng-touched::-moz-placeholder {
    color: white !important;
}

input.ng-invalid.ng-touched,
form-item.ng-invalid input.ng-touched:-ms-input-placeholder {
    color: white !important;
}

input.ng-invalid.ng-touched,
form-item.ng-invalid input.ng-touched:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

input.ng-invalid:focus,
form-item.ng-invalid input:focus {
    background-color: white !important;
    color: black !important;
    border-color: #a94442 !important;
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(210, 55, 71, 0.6) !important;
    border-radius: 10px;
}

input.ng-invalid,
form-item.ng-invalid input {
    border-color: #a94442 !important;
}

form-item.ng-invalid .btn-default-focus {
    background-color: white !important;
    color: black !important;
    border-color: #a94442 !important;
    outline: none !important;
    outline-offset: 0px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(210, 55, 71, 0.6) !important;
    border-radius: 8px;
}

.btn-default-focus {
    outline: none !important;
    outline-offset: 0px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(6, 140, 206, 0.6) !important;
    border-radius: 8px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
    color: inherit;
    border: 2px solid #d2d2d2;
}

form-item.ng-invalid div.ui-select-container {
    border-color: #a94442 !important;
}

form-item div.ui-select-container,
form-item input {
    /* height: 36px!important; */
    padding-bottom: 1px;
}

.btn.disabled:not(.sec-row),
.btn[disabled],
fieldset[disabled] .btn {
    background-color: #c5c5c5 !important;
    color: black;
    font-weight: 600;
}

.m-box-5 {
    margin: 5px !important;
}

.left-top {
    position: absolute;
    cursor: pointer;
    background: black;
    top: 0;
    left: 0;
    border-radius: 5px;
    color: white;
    z-index: 1000;
}

.tooltipClass {
    display: none;
}

.tooltipClass:hover {
    display: block;
}

*:hover+.tooltipClass {
    animation: none;
    display: block;
}

.dropzone {
    border: 2px dashed #1ab394 !important;
    padding: 40px 20px !important;
}

.bold {
    font-weight: bold;
}

.connectPanels {
    min-height: 50px;
    padding: 8px;
}

.padding {
    padding: 10px;
}

.validationMessage {
    color: #ed5565;
}

.left-icon-form-item {
    position: relative;
}

.left-icon-form-item input {
    padding-left: 35px;
}

.left-icon-form-item i.i-class,
.left-icon-form-item i.i-class-l {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    z-index: 10;
    left: 0px;
    bottom: 0px;
}

.right-icon-form-item {
    position: relative;
}

.right-icon-form-item input {
    padding-right: 35px;
}

.right-icon-form-item i.i-class,
.right-icon-form-item i.i-class-r {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    z-index: 10;
    bottom: 0px;
}

.ng-valid.ui-select-container {
    border-radius: 8px;
    border: 1px solid rgb(229, 230, 231);
}

.ng-invalid.ng-invalid-required.ui-select-container {
    border-radius: 8px;
    border: 1px solid rgb(169, 68, 66);
}

.ng-valid.ui-select-toggle {
    border: 0px;
}

.ui-select-toggle {
    border-radius: 8px;
    border: 0px;
}

.med-button-margin {
    margin-bottom: 5px;
}

form-footer .med-button-margin {
    margin-bottom: 0;
    height: 36px;
    font-size: 14px;
    padding-top: 6px;
}

form-footer med-button,
form-footer button {
    margin-right: 3px;
}

form-footer med-button:last-child,
form-footer button:last-child {
    margin-right: 0px;
}

.med-div-dc {
    border-right: 1px solid #000;
}

.nowrap {
    white-space: nowrap;
}

.ws-prewrap {
    white-space: pre-wrap;
}

.ws-preline {
    white-space: pre-line;
}

.panel-body {
    padding: 10px;
}

.ui-select-match-text>span {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

.another-file-over-class {
    border: dotted 3px green;
}

@media (max-width: 767px) {
    .rounded-xs {
        border-radius: 50px;
    }
}

.has-error .control-label {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
}

.has-error ul {
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 0px;
}

.overflow .dataTables_paginate {
    white-space: normal !important;
}

.overflow .table-responsive {
    overflow: auto;
}

grid-view .ibox-content {
    padding: 15px 20px 1px;
}

grid-view .ibox {
    margin: 0px;
}

grid-view .overflow_table {
    padding: 0px;
}

.btn-group .btn {
    font-size: 12px !important;
}

.test {
    background-image: linear-gradient(0deg, #000000 0.08%, #fff 0.08%, #fff 50%, #000000 50%, #000000 50.08%, #fff 50.08%, #fff 100%);
    background-size: 30cm;
}

.page-break {
    /**/page-break-before: always;
}
.input-min-width-95p {
    min-width: 92%;
}

.arriveDate {
    display: block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}

.slimScrollBar {
    background-color: white !important;
}

.ibox-col {
    min-height: 50px;
}

.btn {
    border-width: 2px;
}

.btn-outline {
    background-color: white;
}

.chosen-container-single .chosen-single {
    background-color: #FFFFFF;
    border: 1px solid #CBD5DD;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    /*    width: 350px; */
}

.dataTables_wrapper {
    padding-bottom: 0px;
}

.html5buttons {
    float: left;
}

.b-t {
    border-top: 1px solid #e7eaec;
}

.b-t-m {
    border-top: 1px solid #e7eaec;
    margin-top: 5px;
    padding-top: 5px;
}

.note-editor {
    min-height: 300px;
}

.medium-icon {
    font-size: 80px !important;
    color: #e5e6e7;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav.nav-tabs li {
    background: none;
    border: none;
}

.m {
    margin: 15px;
}

.btn-danger.btn-default {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}

.btn-info.btn-default {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}

.btn-warning.btn-default {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}

.btn-primary.btn-default {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.lockscreen.middle-box {
    width: 350px;
}

form-view {
    /*    height: 100%;
        position: absolute;
        right: 0;
        top: 0;*/
}

/*NGDIALOG*/

.ngdialog.ngdialog-theme-eopieka2 {
    padding: 0 !important;
    overflow: auto !important;
}

body.ngdialog-open {
    overflow: hidden;
    height: initial;
}

.ngdialog-theme-eopieka2 .ngdialog-content {
    padding: 0 !important;
    background: transparent !important;
    display: table;
    width: 100% !important;
    height: 100%;
}

.ngdialog-theme-eopieka2 .ngdialog-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.ngdialog-theme-eopieka2 .ngdialog-content>.ngdialog-close {
    display: none;
}

.ngdialog-theme-eopieka2 .my-ngdialog {
    background: #fff;
    border: 6px solid #586e82;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    max-width: 80%;
    padding: 50px 0 40px;
}

/*.my-ngdialog.with-footer {
    padding: 50px 0 50px;
}
.my-ngdialog.without-footer{
    padding: 50px 0 50px;
}*/

.ngdialog-theme-eopieka2 .ngdialog-header,
.ngdialog-theme-eopieka2 .ngdialog-footer {
    background: #efefef;
    position: absolute;
    left: 0;
    right: 0;
}

.ngdialog-theme-eopieka2 .ngdialog-header {
    top: 0;
    border-bottom: 1px solid #ccc;
}

.ngdialog-theme-eopieka2 .ngdialog-footer {
    bottom: -6px;
    background-color: #586e82;
    text-align: right;
    padding: 5px 0 5px;
}

.ngdialog-theme-eopieka2 .ngdialog-scroll-container {
    height: 100%;
    max-height: 100% !important;
}

.ngdialog.xs div.my-ngdialog {
    max-width: 25%;
    height: 25%;
}

.ngdialog.lg div.my-ngdialog {
    max-width: 98%;
    height: auto;
}

@media (min-width: 1200px) {
    .ngdialog.sm div.my-ngdialog {
        max-width: 50%;
        height: 75%;
    }
    .ngdialog.md div.my-ngdialog {
        max-width: 60%;
        height: 75%;
    }
    .ngdialog-theme-eopieka2 .my-ngdialog {
        max-width: 75%;
    }
}

@media (max-width: 1199px) {
    .ngdialog.sm div.my-ngdialog {
        max-width: 98%;
        height: auto;
    }
    .ngdialog.md div.my-ngdialog {
        max-width: 98%;
        height: auto;
    }
}

@media (max-width: 768px) {}

@media (max-width: 768px) {
    .ngdialog-theme-eopieka2 .my-ngdialog {
        max-width: 98%;
    }
}

.ngdialog-theme-eopieka2 .modal-footer {
    padding: 5px 0 5px;
    background-color: #586e82;
}

.modal-body {
    padding: 10px 20px 20px 10px;
}

.prescriptionBox {
    width: 9.8cm;
    height: 20cm;
    padding: 0.2cm 0.5cm 0 0.5cm;
    /*border: 1px dashed #eee;*/
}

.prescriptionBox .row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #aaa;
}

.prescriptionBox .col-xs-12,
.prescriptionBox .col-xs-9,
.prescriptionBox .col-xs-7,
.prescriptionBox .col-xs-5,
.prescriptionBox .col-xs-3 {
    /*border: 1px #ccc dashed;*/
    height: 100%;
    padding: 0px;
    border-right: 1px solid #aaa;
}

.prescriptionDepartmentBox {
    height: 2.8cm;
    padding-top: 0.4cm;
}

.prescriptionDrugBox {
    height: 1.6cm;
}

.prescriptionDrugSpecialBox {
    height: 8.0cm;
}

.prescriptionPatientBox {
    height: 2.2cm;
}

.prescriptionPatientBoxPrim {
    height: 1.1cm;
}

.prescriptionNumberBox {
    height: 1.2cm;
    padding-top: 5px;
}

.prescriptionInfoBox {
    height: 0.3cm;
}

.prescriptionDoctorBox {
    height: 3.6cm;
}

.prescriptionDateBox {
    height: 1.8cm;
}

.prescriptionLabelTop {
    font-size: 11px;
    position: absolute;
    top: 1px;
    left: 2px;
    line-height: 1.1em;
}

.prescriptionLabelBottom {
    font-size: 8px;
    position: absolute;
    bottom: 1px;
    left: 36%;
    line-height: 1.1em;
}

.prescriptionLabel {
    font-size: 8px;
    position: absolute;
    top: 1px;
    left: 2px;
    line-height: 1.1em;
}

.prescriptionLabel1 {
    font-size: 8px;
    position: absolute;
    top: 12px;
    left: 2px;
    line-height: 1.1em;
}

.prescriptionLabel2 {
    font-size: 8px;
    position: absolute;
    bottom: 1px;
    left: 2px;
    line-height: 1.1em;
}

.prescriptionLabelPayment {
    position: absolute;
    top: 0.6cm;
    left: 50%;
}

.prescriptionLabelPayment span {
    position: relative;
    left: -50%;
}

.prescriptionLabelDate {
    position: absolute;
    top: 0.6cm;
    left: 0.6cm;
    width: 80px;
    text-align: center;
}

.prescriptionLabelDrug {
    font-size: 9px;
    line-height: 0.3cm;
    overflow: hidden;
}

.prescriptionLabelPatient {
    position: absolute;
    left: 0.1cm;
    text-align: center;
}

.prescriptionLabelPatientName {
    position: absolute;
    left: 0.1cm;
    top: 0.2cm;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.prescriptionLabelPatientAddress {
    position: absolute;
    left: 0.1cm;
    top: 0.65cm;
    width: 100%;
    font-size: 10px;
    line-height: 1.1em;
}

.prescriptionLabelPatientPesel {
    position: absolute;
    left: 0.1cm;
    bottom: 0.1cm;
    width: 100%;
    font-size: 10px;
    line-height: 1.1em;
}

.prescriptionLabelPatientCode {
    position: absolute;
    top: 0.5cm;
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 1.3em;
    overflow: hidden;
}

.prescriptionLabelDoctor {
    position: absolute;
    left: 0.1cm;
    text-align: center;
    width: 100%;
    top: 0.25cm;
    line-height: 1;
}

.prescriptionLabelDoctor .prescriptionLabelDoctorName {
    font-weight: bold;
    font-size: 11px;
}

.prescriptionLabelDoctor .prescriptionLabelDoctorSpecialization {
    font-size: 9px;
    max-height: 1.4cm;
    overflow: hidden;
}

.prescriptionBarcode img {
    position: relative;
    left: -50%;
}

.prescriptionBarcodeDeparment {
    position: absolute;
    bottom: 0.1cm;
    left: 60%;
}

.prescriptionBarcodeNumber {
    position: absolute;
    bottom: 0.1cm;
    left: 50%;
}

.prescriptionBarcodeDoctorLicence {
    position: absolute;
    bottom: 0.3cm;
    left: 50%;
}

.prescriptionRecommendation {
    position: absolute;
    bottom: 0.5cm;
    left: 22.4%;
}

.noBorderBox {
    border: none !important;
}

.line1 {
    /*    background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px)); */
    background: -moz-linear-gradient(to bottom right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: -webkit-linear-gradient(to bottom right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: -o-linear-gradient(to bottom right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: linear-gradient(to bottom right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: -ms-linear-gradient(to bottom right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}

.line2 {
    /*background-image: linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));*/
    background: -moz-linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: -webkit-linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: -o-linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    background: -ms-linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}

@media print {
    .prescriptionBox img {
        max-width: inherit !important;
    }
    .line1 {
        background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px)) !important;
    }
    .line2 {
        background-image: linear-gradient(to right top, transparent calc(50% - 1px), #aaa, transparent calc(50% + 1px)) !important;
    }
    .presc-break {
        display: block !important;
        page-break-before: always;
    }
    .presc-center {
        margin: auto;
        width: 9.8cm;
    }
}

.presc-break {
    display: none;
}

/*.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-1:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-1:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-1:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-1:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-2:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-2:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-2:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-2:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-3:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-3:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-3:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-3:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-4:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-4:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-4:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-4:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-5:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-5:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-5:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-5:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-6:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-6:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-6:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-6:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-7:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-7:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-7:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-7:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-8:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-8:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-8:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-8:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-9:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-9:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-9:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-9:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-10:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-10:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-10:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-10:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-11:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-11:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-11:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-11:not(.sec-row),
.ngdialog-scroll-container div.row:not(.sec-row)>div.col-xs-12:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-sm-12:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-md-12:not(.sec-row), .ngdialog-scroll-container div.row:not(.sec-row)>div.col-lg-12:not(.sec-row) {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-1:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-1:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-1:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-1:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-2:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-2:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-2:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-2:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-3:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-3:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-3:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-3:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-4:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-4:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-4:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-4:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-5:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-5:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-5:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-5:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-6:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-6:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-6:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-6:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-7:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-7:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-7:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-7:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-8:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-8:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-8:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-8:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-9:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-9:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-9:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-9:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-10:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-10:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-10:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-10:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-11:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-11:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-11:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-11:not(.sec-row),
.ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-xs-12:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-sm-12:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-md-12:not(.sec-row), .ngdialog-scroll-container grid-view  div.row:not(.sec-row)>div.col-lg-12:not(.sec-row) {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}*/

div.dataTables_wrapper div.dataTables_paginate {
    margin: auto !important;
    white-space: inherit !important;
    text-align: initial !important;
}

form-item input.form-control,
form-item i.i-class {
    color: black !important;
}

/**
.col-to-bottom ustawienie na div'ie z row pozwala na wyrównanie col do linii dolnej
*/

@media only screen and (min-width: 768px) {
    .col-to-bottom {
        display: table;
        width: 100%;
    }
    .col-to-bottom [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: bottom;
    }
}

select[multiple] {
    max-height: 200px;
}

select[multiple] option {
    font-size: 16px;
    color: black !important;
}

select[multiple]:focus option:checked {
    background: #1c84c6 linear-gradient(0deg, #1ab394 0%, #1ab394 100%);
}

select[multiple] option:checked {
    background: #1c84c6 linear-gradient(0deg, #1ab394 0%, #1ab394 100%);
}

.prescriptionSelected {
    border-left: 5px #1ab394 solid;
}

.med-hover-selected:hover,
.med-selected {
    border-left: 5px #1ab394 solid !important;
    background-color: #f3f3f4;
    cursor: pointer;
    color: #444;
}

.med-hover-selected-red:hover,
.med-selected-red {
    border-left: 5px #d43f3a solid !important;
    background-color: #f3f3f4;
    cursor: pointer;
    color: #444;
}

.ngdialog-minimize {
    position: absolute;
    top: 0;
    right: 29px;
    font-family: 'Helvetica', Arial, sans-serif;
    cursor: pointer;
    color: #bbb;
    pointer-events: all;
}

.ngdialog-minimize:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '-';
    font-size: 45px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    /*color: black !important;*/
}

.ngdialog-minimize:hover:before,
.ngdialog-minimize:active:before {
    color: #777;
}

.dialog-info-header {
    position: absolute;
    top: 3px;
    /*right: 100%;*/
}

.version-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 220px;
}

body.mini-navbar .version-info {
    display: none;
}

.minimalize-window {
    cursor: pointer;
}

.dd-handle.bg-white {
    background: white !important;
}

.btn.btn-left {
    text-align: left;
}

.slimScrollDiv {
    overflow: visible !important;
}

.sidebar-collapse {
    overflow: visible !important;
}

.dataTables_scrollHeadInner,
.dataTables_scrollHead,
.dataTable {
    max-width: 100% !important;
    width: 100% !important;
}

.client-number {
    position: absolute;
    right: 5px;
    top: 0px;
}

pdf-viewer canvas {
    max-width: 100%;
   /* max-height: 100vh; */
    right: 25px;
    top: 5px;
}

.drug-patient-header .ladda-label {
    width: 100%;
}

.tags {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.tags.focused {
    border-color: #66afe9 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.tags .tag-item {
    background: #428bca !important;
    border: 1px solid #357ebd !important;
    border-radius: 4px !important;
    color: #fff !important;
    display: inherit;
}

.tags .tag-item.selected {
    background: #d9534f !important;
    border: 1px solid #d43f3a !important;
    border-radius: 4px !important;
    color: #fff !important;
}

.tags .tag-item button {
    background: transparent !important;
    color: #000 !important;
    opacity: .4 !important;
}

.autocomplete {
    border-radius: 4px !important;
}

.autocomplete .suggestion-item.selected {
    color: #262626 !important;
    background-color: #e9e9e9 !important;
}

.autocomplete .suggestion-item em {
    font-weight: normal !important;
    background-color: #ffff00 !important;
}

.autocomplete .suggestion-item.selected em {
    color: #262626 !important;
    background-color: #ffff00 !important;
}

.eo2-tags-input .remove-button {
    display: inherit;
    color: #fff !important;
}

.swal-datepicker-overflow {
    overflow-x: visible;
    overflow-y: visible;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.drug-issued-to-issue {
    border-left: 10px #f8ac59 solid;
    cursor: pointer;
    color: #444;
}

.drug-issued-to-save {
    border-left: 10px #1c84c6 solid;
    cursor: pointer;
    color: #444;
}

@media (max-width: 768px) {
    .dto-label-container-inline-xs .dto-label-item-long,
    .dto-label-container-multiline-xs .dto-label-item-long {
        display: none !important;
    }
}

.dto-label-item+.dto-label-item-long {
    white-space: normal !important;
}

.dto-label-container-multiline-xs .dto-label-item {
    display: block;
}

.dto-label-container-inline-xs .dto-label-item {
    display: inline-block;
}

.dto-label-item {
    /* white-space: normal; */
    vertical-align: top;
    display: inline-block;
}

.text-line-through {
    text-decoration: line-through;
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    color: black;
    font-weight: bold;
}

.ui-select-bootstrap .ui-select-match-text {
    max-width: calc(100% - 30px);
    overflow: hidden;
    padding-right: 1em;
}

.ui-select-bootstrap .ui-select-match-text {
    width: calc(100% - 30px);
}

.ui-select-match-close+span>div.dto-label-container-inline-xs {
    padding-right: 15px;
}

.datepicker {
    z-index: 99999999;
}

.timepicker {
    z-index: 99999999;
}

.top-z-index {
    z-index: 99999999;
}

/*
.ui-select-match-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

.ui-select-placeholder, .ui-select-match-text, .ui-select-match-item {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 40px;
}*/

@media screen {
    .report-view-print {}
}

@media only print {
    .no-print {
        display: none !important
    }
    .dt-buttons {
        display: none !important
    }
    /*    .keep-together {
        display: inline-table;
    }
    .report-view-noprint-heading > .panel-heading {
        display: none !important;
    }
    .report-view-noprint-heading .panel-body {
        border: none !important;
        border-top-color: white !important;
    }*/
}

.p-r-sm {
    padding-right: 10px;
}

.p-l-sm {
    padding-left: 10px;
}

.p-t-sm {
    padding-top: 10px;
}

.p-b-sm {
    padding-bottom: 10px;
}

.p-r-md {
    padding-right: 20px;
}

.p-l-md {
    padding-left: 20px;
}

.p-t-md {
    padding-top: 20px;
}

.p-b-md {
    padding-bottom: 20px;
}

.font-lg {
    font-size: large;
}

.font-xx-lg {
    font-size: xx-large;
}

/* EO2 BLINK */

.eo2-blink {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* END EO2 BLINK */

/* gray border table */

.gray-table table,
.gray-table tr,
.gray-table th,
.gray-table td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

/* gray border table */

/* .nav li.dropdown  {
  border : 1px solid grey;
} */

.navbar-top {
    float: left;
    height: 50px;
    padding: 0;
    /* width: 70%; */
    display: block;
}

@media (min-width: 767px) {
    .navbar-top-search {
        width: 200px;
    }
    .navbar-header {
        width: 70%;
    }
    .navbar-top-title {
        width: 50%;
    }
}

.navbar-top div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.eo2logo-navbar {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0px;
    color: #e6e6e6;
}

.eo2logo-navbar-small {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    color: #e6e6e6;
}

#side-menu.nav>li>a {
    padding: 7px 15px 7px 25px;
}

.nav-second-level li a {
    padding-left: 40px;
}

#side-menu.nav>li.active {
    border-left: 2px solid #19aa8d;
    background: #293846;
}

.forgot_password {
    font-size: 13px;
    color: #e6e6e6;
    text-transform: uppercase;
}

.dropdown-menu {
    left: auto;
}

.nav-second-level li:last-child {
    margin-bottom: 0px;
}

@media all {
    .nav.navbar-top-links li.dropdown {
        display: inline-block;
    }
}

.filters-menu {
    padding: 5px;
}

/* attachmentViewer */

.med-attachment-nav-button {
    position: absolute;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 25px;
    font-size: xx-large;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
}

.med-attachment-nav-button:hover {
    font-weight: 900;
}

.med-attachment-nav-button>a {
    position: relative;
    top: 40%;
}

.med-attachment-nav-button-left {
    left: 0px;
    background: linear-gradient(to right, gray, white);
}

.med-attachment-nav-button-left:hover {
    transition: background 1s ease-in-out;
    background: linear-gradient(to right, black, gray);
}

.med-attachment-nav-button-right {
    right: 0px;
    background: linear-gradient(to left, gray, white);
}

.med-attachment-nav-button-right:hover {
    transition: background 1s ease-in-out;
    background: linear-gradient(to left, black, gray);
}

.med-attachment-type {
    overflow: auto;
    padding: 5px 20px;
}

.med-attachment-object {
    max-height: 100%;
    max-width: 100%;
}

/* attachmentViewer */

a.dt-button {
    color: inherit !important;
    background: white !important;
    border: 2px solid #e7eaec !important;
}

a.dt-button:hover {
    color: white !important;
    background: #e7eaec !important;
    border: 2px solid #e7eaec !important;
}

/* body { margin:20px; background:hsl(70, 31%, 85%); text-align:center; } */

.btn.btn-one {
    /* width: 50%; */
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    /* color: black; */
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.btn.btn-two {
    /* width: 50%; */
    background-size: cover;
    /* <------ */
    width: 36px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    /* transform: rotate(-45deg); */
    /* color: black; */
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.btn.btn-three {
    /* width: 50%; */
    background-size: cover;
    /* <------ */
    width: 36px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    /* transform: rotate(-90deg); */
    /* color: black; */
    /* -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.btn.btn-four {
    /* width: 50%; */
    /* background-size: cover; */
    /* <------ */
    /* background-repeat: no-repeat;
    background-position: center center; */
    /* transform: rotate(-90deg); */
    /* color: black; */
}

.match {
    color: gray;
}

.ins {
    color: black;
    background: #bbffbb;
}

.del {
    color: black;
    background: #ffbbbb;
}
